asgiref==3.11.0
Django==6.0.1
djangorestframework==3.16.1
sqlparse==0.5.5



CHARLES LAURENCE A. GULA
Address: San Antonio, Basey, Samar
Contact: 09484119128
Email: lancegula05@gmail.com

Personal Information
Birthdate: September 5, 2003
Age: 22
Sex: Transgender
Religion: Roman Catholic
Civil Status: Single
Skills: HTML, CSS, JavaScript, Python, Docker, ReactJS

Educational Background
Tertiary: Eastern Visayas State University - Tacloban City - Bachelor of Science in Information Technology
Seconday: Paranaque National High School - Main
Primary: Fourth Estate Elementary School

